// ***Цвета***
$dark-color: #232521;
$gray-color: rgba(35, 37, 33, 0.6);
$white: #fff;

// ***Размеры устройтв***
$tablet-size: 886px;

// ***Миксины***
@mixin font($font-size, $color, $font-weight: 400) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

@mixin mediaTablet {
  @media screen and (min-width: $tablet-size){
    @content
  }
}